<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <!-- <link rel="stylesheet" type="text/css" href="/css/index.css" /> -->
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1>About</h1>
      <hr>
      <%- data.aboutText %>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>