<!DOCTYPE html>
<html lang="en">

<head>
  <title>Changelog | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <!-- <link rel="stylesheet" type="text/css" href="/css/index.css" /> -->
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1>Changelog: <%= data.part %></h1>
      <p class="text--center-align"><a href="/changelog/website">Website Changelog</a> | <a href="/changelog/game">Game Changelog</a></p>
      <hr>
      <%- data.text %>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>