<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
  <main>
    <div>
      <div id="front-page__header">
        <div id="front-page__logo">
          <img alt="Logo" src="./assets/images/icon.png">&nbsp;
          <span id="front-page__logo-text">Mathematical Base Defenders</span>
        </div>
        <div id="front-page__links">
          <a href="/leaderboards/standard">Leaderboards</a>
          <a href="/register">Register</a>
          <a href="https://play.mathematicalbasedefenders.com">Play</a>
        </div>
      </div>
      <div class="front-page__section" id="front-page__introduction">
        <div>
          <h1>A multiplayer mental math game.</h1>
          <p class="text--description">
            Mathematical Base Defenders is a multiplayer math game where the objective is simple: solve problems on the enemies to kill them.
          </p>
          <form method="get" action="https://play.mathematicalbasedefenders.com">
            <input type="submit" class="button--play-now" value="Play Now">
            </input>
          </form>
          <!-- <br>
          <a class="text--link text--description" href="/register">...or register for an account</a>
          <br> -->
          <button class="button--register" href="/register">Register</button>
          <span class="text--darkened">Mathematical Base Defenders is NOT a substitute for a legitimate math tutor.</span>
        </div>
      </div>
      <div class="front-page__filler"></div>
      <br>
      <br>
      <div class="front-page__section" id="front-page__content--gamemodes">
      </div>
    </div>
  </main>
</body>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/jquery.ejs") %>
<%- include("../partials/slide-down-index.ejs") %>
</body>

</html>