<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body></body>
<main>
  <div>
    <div id="front-page__header">
      <div id="front-page__logo">
        <img src="./assets/images/icon.png">&nbsp;
        <span id="front-page__logo-text">Mathematical Base Defenders</span>
      </div>
      <div id="front-page__links">
        <a href="/leaderboards/standard">Leaderboards</a>
        <a href="/register">Register</a>
        <a href="https://play.mathematicalbasedefenders.com">Play</a>
      </div>
    </div>
    <div class="front-page__section" id="front-page__introduction">
      <div>
        <h1>A multiplayer mental math game.</h1>
        <p class="text--description">
          Mathematical Base Defenders is a multiplayer math game where the objective is simple: solve problems on the enemies to kill them.
        </p>
      </div>
    </div>
    <div class="front-page__filler"></div>
    <div class="front-page__section" id="front-page__content--gamemodes">

      <div>
        <h2>Many game modes to choose from...</h2>
        <p class="text--description">
          Mathematical Base Defenders can be played in many gamemodes.
          <br>
          One of which is the fast-paced Standard Singleplayer game mode, or go slow and steady with the Easy Singleplayer game mode.
          <br>
          Or grab a friend or two and enjoy Multiplayer mode with other people around the world.
          <br>
        </p>
        <div class="right-align">
          <h2>...and many more features available.</h2>
        </div>
        <div id="feature-box">
          <div class="feature-tile div1">
            <div class="feature-tile__content">
              <h3>Multiple Game Modes<br>including Multiplayer</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image"><img src="./assets/images/main-menu.png"></div>
              </div>
              <div class="feature-tile__back">Many modes are available, including the fast-paced Standard Singleplayer mode, or you can go slow with the Easy Singleplayer mode, or you can play with friends along with other people in Multiplayer mode.</div>
            </div>
          </div>
          <div class="feature-tile div2">
            <div class="feature-tile__content">
              <h3>Custom Game Mode</h3>
            </div>
          </div>
          <div class="feature-tile div3">
            <div class="feature-tile__content">
              <h3>Customizable Game Client</h3>
            </div>
          </div>
          <div class="feature-tile div4">
            <div class="feature-tile__content">
              <h3>Account System</h3>
            </div>
          </div>
          <div class="feature-tile div5">
            <div class="feature-tile__content">
              <h3>Free and open-source</h3>
            </div>
          </div>
          <div class="feature-tile div6">
            <div>
              <h3>Supports both the × and ·</h3>
            </div class="feature-tile__content">
          </div>
          <div class="feature-tile div7">
            <div class="feature-tile__content">
              <h3>Leaderboards</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/jquery.ejs") %>
<%- include("../partials/slide-down-index.ejs") %>
</body>

</html>