<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body></body>
<main>
  <div>
    <div id="front-page__header">
      <div id="front-page__logo">
        <img src="./assets/images/icon.png">&nbsp;
        <span id="front-page__logo-text">Mathematical Base Defenders</span>
      </div>
      <div id="front-page__links">
        <a href="/leaderboards/standard">Leaderboards</a>
        <a href="/register">Register</a>
        <a href="https://play.mathematicalbasedefenders.com">Play</a>
      </div>
    </div>
    <div class="front-page__section" id="front-page__introduction">
      <div>
        <h1>A multiplayer mental math game.</h1>
        <p class="text--description">
          Mathematical Base Defenders is a multiplayer math game where the objective is simple: solve problems on the enemies to kill them.
        </p>
        <br>
        <a href="https://play.mathematicalbasedefenders.com">
          <button class="button--play-now">
            <span>Play</span>
          </button>
        </a>
        <br>
        <a class="text--link text--description text--small" href="/register">...or register for an account</a>
        <br>
        <a class="text--darkened text--small">Mathematical Base Defenders is NOT a substitute for a legitimate math tutor.</a>
      </div>
    </div>
    <div class="front-page__filler"></div>
    <br>
    <br>
    <div class="front-page__section" id="front-page__content--gamemodes">
      <div>
        <h2>Many game modes to choose from...</h2>
        <p class="text--description">
          Mathematical Base Defenders can be played in many gamemodes.
          <br>
          One of which is the fast-paced Standard Singleplayer game mode, or go slow and steady with the Easy Singleplayer game mode.
          <br>
          Or grab a friend or two and enjoy Multiplayer mode with other people around the world.
          <br>
        </p>
        <div class="right-align">
          <h2>...and many more features available.</h2>
        </div>
        <p class="text--small text--darkened">Hover over a feature tile to learn more.</p>
        <div id="feature-box">
          <div class="feature-tile feature-tile--feature-1 feature-tile--dominant">
            <div class="feature-tile__content">
              <h3>Multiple Game Modes<br>including Multiplayer</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image feature-tile__image--dominant">
                  <img alt="Picture of the game's main menu screen." src="./assets/images/main-menu.png">
                </div>
              </div>
              <div class="feature-tile__back">
                <p>Many modes are available,
                  including the fast-paced Standard Singleplayer mode,
                  or you can go slow with the Easy Singleplayer mode,
                  or you can play with friends along with other people
                  in Multiplayer mode.</p>
              </div>
            </div>
          </div>
          <div class="feature-tile feature-tile--feature-2 feature-tile--dominant">
            <div class="feature-tile__content">
              <h3>Custom Game Mode</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image feature-tile__image--dominant">
                  <img alt="Picture of the game's custom gamemode menu screen." src="./assets/images/custom-menu.png">
                </div>
              </div>
              <div class="feature-tile__back">
                <p>If none of the modes suit you, you can also make your own custom mode
                  with your own parameters. Set the enemies to be as fast or slow as possible,
                  or set the combo time to be as long as possible to keep your pristine combo status.</p>
              </div>
            </div>

          </div>
          <div class="feature-tile feature-tile--feature-3 feature-tile--weak">
            <div class="feature-tile__content">
              <h3>Customizable Game Client</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image feature-tile__image--weak">
                  <img alt="Picture of the game's settings menu screen." src="./assets/images/settings-menu.png">
                </div>
              </div>
              <div class="feature-tile__back">
                <p>Change the enemy color, how much data is displayed, or the enemy width itself,
                  all in your client.</p>
              </div>
            </div>
          </div>
          <div class="feature-tile feature-tile--feature-4 feature-tile--weak">
            <div class="feature-tile__content">
              <h3>Account System</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image feature-tile__image--weak">
                  <img alt="Picture of mistertfy64's account page." src="./assets/images/account-page.png">
                </div>
              </div>
              <div class="feature-tile__back">
                <p>Create an account to store your game data,
                  so you can compare against your friends and see who is better.
                  <br>
                  <span class="text--disclaimer">Registration is NOT required to play.<br>Colors inverted from original source.</span>
                </p>
              </div>
            </div>
          </div>
          <div class="feature-tile feature-tile--feature-5 feature-tile--weak">
            <div class="feature-tile__content">
              <h3>No Download Required</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image feature-tile__image--weak">
                  <img alt="Picture of the play button on this page." src="./assets/images/play-now.png">
                </div>
              </div>
              <div class="feature-tile__back">
                <p>This game is playable in a web browser.
                  Just click on the green button or <a class="text--link" href="https://play.mathematicalbasedefenders.com">here</a>.
                </p>
              </div>
            </div>
          </div>
          <div class="feature-tile feature-tile--feature-6 feature-tile--weak">
            <div class="feature-tile__content">
              <h3>Supports both the × and ·</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image feature-tile__image--weak">
                  <img alt="Picture of two enemies: one having the × as the multiplication sign, and the other with a · as the sign." src="./assets/images/dot-and-cross.png">
                </div>
              </div>
              <div class="feature-tile__back">
                <p>This game allows you to select what multiplication sign you want, so you can say goodbye to ambiguity!</p>
              </div>
            </div>
          </div>
          <div class="feature-tile feature-tile--feature-7 feature-tile--weak">
            <div class="feature-tile__content">
              <h3>Leaderboards</h3>
              <div class="feature-tile__front">
                <div class="feature-tile__image feature-tile__image--weak">
                  <img alt="Picture of the website's leaderboard page." src="./assets/images/leaderboards-page.png">
                </div>
              </div>
              <div class="feature-tile__back">
                <p>This game has a leaderboard, so you can compare against your friends and other players to see who's the best.
                  <br>
                  <span class="text--disclaimer">Colors inverted from original source.</span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/jquery.ejs") %>
<%- include("../partials/slide-down-index.ejs") %>
</body>

</html>