<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <main>
    <nav>nav1 nav2 nav3</nav>
    <div id="header">
      <div id="header__content">
        <h1>A competitive multiplayer mental math game.</h1>
        <h2>
          Test your speed math skills by yourself in three modes
          <br>
          or with others in a fast-paced environment.
        </h2>
        <br><br>
        <button class="button--call-to-action" id="button--play">
          <span>Play</span>
        </button>
        <br>
        <a href="/register">...or register for an account</a>
        <br><br>
        <div id="header__latest-versions">
          <a class="no-text-decoration" href="/changelog/game">
            <div class="version-indicator">
              <h3>Latest Game Version</h3>
              <div class="version-number"><%= versions.game.version %></div>
              <div>Released <%= versions.game.releaseDate %></div>
            </div>
          </a>
          <a class="no-text-decoration" href="/changelog/website">
            <div class="version-indicator">
              <h3>Latest Website Version</h3>
              <div class="version-number"><%= versions.website.version %></div>
              <div>Released <%= versions.website.releaseDate %></div>
            </div>
          </a>
        </div>
        <br><br>
        <div class="preview">
          <div class="preview__content">
            <video alt="Video preview of Standard Singleplayer mode of Mathematical Base Defenders." id="video-preview" class="preview__video" muted autoplay loop style="pointer-events: none;">
              <source src="/assets/videos/mathematicalbasedefenders.com-preview.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Gameplay Information -->
    <div id="gameplay-information">
      <div id="gameplay-information__content">
        <h1>
          <span class="material-symbols-outlined icon">
            speed
          </span>
          Go easy or go big? It's your choice!
        </h1>
        <h2>
          With many game modes to choose from, including
          <br>
          a custom mode for playing alone and a competitive
          <br>
          multiplayer mode, you can play however you want!
        </h2>
        <br>
        <div class="preview" id="gameplay-information__preview">
          <div class="preview__content" id="single-player-previews">
            <div>
              <div class="preview__image">
                <img alt="Image preview of Easy Singleplayer mode of Mathematical Base Defenders." class="preview__image--singleplayer" src="/assets/images/easy-frontpage-preview.png">
              </div>
              <h2>Easy Singleplayer Mode</h2>
              A mode for casual players.
              <br>
              Easier to get in the flow of a high score
              <br>
              with slower enemy speeds and lower enemy spawn chances make it a
              <br>
              perfect mode for getting started or for younger or novice audiences.
            </div>
            <div>
              <div class="preview__image">
                <img alt="Image preview of Standard Singleplayer mode of Mathematical Base Defenders." class="preview__image--singleplayer" src="/assets/images/standard-frontpage-preview.png">
              </div>
              <h2>Standard Singleplayer Mode</h2>
              The flagship mode for competitive players.
              <br>
              A mode for competitive players with many features that make it
              <br>
              fast-paced and adrenaline-inducing, this is the perfect mode
              <br>
              for improving mental math skills and for practicing for difficult drills.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Customization Information -->
    <div id="customization-information">
      <div id="customization-information__content">
        <h1>
          <span class="material-symbols-outlined icon">
            tune
          </span>
          A zen look or a dashboard look? It's your choice!
        </h1>
        <h2>
          Do you want to see all the information while playing? Go ahead!
          <br>
          Or maybe you just wanted to have nothing distracting? That's also fine!
          <br>
          Customize the amount of information you see while in game, and more, with just a click of a button!
        </h2>
        <br>
        <div class="preview" id="customization-information__preview">
          <div class="preview__content" id="customization-previews">
            <div>
              <div class="preview__image">
                <img alt="Different mode of stat displays on how much information to show in game." class="preview__image--customization" src="/assets/images/stat-display-frontpage.png">
              </div>
              <h2>Customizable In-Game Stat Display</h2>
              With three modes, and more to come in the future,
              <br>
              you can choose how much information you want to see
              <br>
              whether you're going for the clean look or the detailed look.
            </div>
            <div>
              <div class="preview__image">
                <img alt="Image preview of Standard Singleplayer mode of Mathematical Base Defenders." class="preview__image--customization" src="/assets/images/standard-frontpage-preview.png">
              </div>
              <h2>Standard Singleplayer Mode</h2>
              The flagship mode for competitive players.
              <br>
              A mode for competitive players with many features that make it
              <br>
              fast-paced and adrenaline-inducing, this is the perfect mode
              <br>
              for improving mental math skills and for practicing for difficult drills.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Miscellaneous Information -->
    <div id="miscellaneous-information"></div>
  </main>
</body>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/jquery.ejs") %>
<%- include("../partials/slide-down-index.ejs") %>
</body>

</html>