<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <div id="front-page__header">
        <div>

          <h1>A multiplayer mental math game.</h1>
          <p class="text--description">
            Mathematical Base Defenders is a multiplayer math game where the objective is simple: solve problems on the enemies to kill them.
          </p>
          <p class="text--description">Play in singleplayer and go for the highest score and conquer the leaderboards yourself, or battle it out with other players in multiplayer and send enemies to them.</p>

          <p class="text--description">Casual, competitive and custom modes are available to satisfy players at every level of mental math proficiency, as well as an account system so you can track your improvement and statistics.</p>

          <a href="https://play.mathematicalbasedefenders.com">
            <button class="play-now-button">
              Play
            </button>
          </a>
          <br>
          <a class="text--link" href="/register">...or register for an account</a>
          <p class="text--disclaimer">Registration is not required to play.<br>Although Mathematical Base Defenders is a math game that can improve your math skills, it is not a substitute for a legitimate math tutor.</p>
          </p>

        </div>
        <div></div>
      </div>
      <br>
      <h2>Game Modes</h2>
      <p>There are multiple modes you can play in Mathematical Base Defenders, to satisfy to both casual and competitive players.</p>
      <br>
      <div id="gamemode-container-wrapper">
        <div class="gamemode-container gamemode-container--easy">
          <h3>Easy Singleplayer</h3>
          <p>A very easy gamemode. Ideal for people just starting out in this mental math adventure. Slower enemies, longer combo times, and a more relaxed environment.</p>
          <br>
          <a class="text--right-align text--link" href="/leaderboards/easy">Easy Singleplayer Leaderboards</a>
        </div>
        <div class="gamemode-container gamemode-container--standard">
          <h3>Standard Singleplayer</h3>
          <p>An extremely fast-paced gamemode. Ideal for competitive players, as well as players who are starting to ramp up their mental math skills. Fast enemies, fast-paced gameplay, and a fun exhilarating experience.</p>
          <br>
          <a class="text--right-align text--link" href="/leaderboards/standard">Standard Singleplayer Leaderboards</a>
        </div>
        <div class="gamemode-container gamemode-container--multiplayer">
          <h3>Multiplayer</h3>
          <p>Want to play with friends? Then this mode is for you! Ideal for people with friends or classrooms, this will get the whole group's hearts racing. On top of fair enemy generation and difficulty, you can send enemies to other players to get an advantage by killing your enemies fast enough.</p>
        </div>
      </div>
      <br>
      <h2>Features</h2>
      <p>There are also many features in the game. Some are there for more interaction, and some are there for personal improvement.</p>
      <br>
      <div id="feature-container-wrapper">
        <div class="feature-container">
          <h3>Leaderboards</h3>
          <p>Compare against others to see who is the best.</p>

        </div>
        <div class="feature-container">
          <h3>Account System</h3>
          <p>Create an account to save your results, high-scores, and plays.</p>

        </div>
        <div class="feature-container">
          <h3>Custom Modes</h3>
          <p>Set the enemies, combo time, and other factors to be as fast or as slow as possible. (Singleplayer only)</p>
        </div>
      </div>
      <br>
      <h2>What are you waiting for? Do you want to improve your mental math skills? If so, play now!</h2>
      <br>
      <div class="right-align">
        <a href="https://play.mathematicalbasedefenders.com">
          <button class="play-now-button">
            Play
          </button>
        </a>
        <br>
        <a href="/register">...or register for an account</a>
        <br>
        Registration is not required to play.
      </div>
      <br>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/jquery.ejs") %>
  <%- include("../partials/slide-down-index.ejs") %>
</body>

</html>