<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <main>
    <%- include("../partials/header.ejs") %>
    <br><br>
    <div id="header">
      <div id="header__content">
        <h1>A competitive multiplayer mental math game.</h1>
        <h2>
          Test your speed math skills by yourself in three modes
          <br>
          or with others in a fast-paced environment.
        </h2>
        <br><br>
        <a href="https://play.mathematicalbasedefenders.com">
          <button class="button--call-to-action button--play">
            <span>Play</span>
          </button>
        </a>
        <br>
        <a href="/register">...or register for an account</a>
        <br><br>
        <div id="header__latest-versions">
          <a class="no-text-decoration" href="/changelog/game">
            <div class="version-indicator">
              <h3>Latest Game Version</h3>
              <div class="version-number"><%= versions.game.version %></div>
              <div>Released <%= versions.game.releaseDate %></div>
            </div>
          </a>
          <a class="no-text-decoration" href="/changelog/website">
            <div class="version-indicator">
              <h3>Latest Website Version</h3>
              <div class="version-number"><%= versions.website.version %></div>
              <div>Released <%= versions.website.releaseDate %></div>
            </div>
          </a>
        </div>
        <br><br>
        <div class="preview" id="video-preview__container__container">
          <div id="video-preview__container">
            <video alt="Video preview of Standard Singleplayer mode of Mathematical Base Defenders." id="video-preview" class="preview__video" muted autoplay loop style="pointer-events: none;">
              <source src="/assets/videos/mathematicalbasedefenders.com-preview.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
    <br>
    <!-- Gameplay Information -->
    <div id="gameplay-information">
      <div id="gameplay-information__content">
        <h1>
          <span class="material-symbols-outlined icon">
            speed
          </span>
          Go easy or go big? It's your choice!
        </h1>
        <h2>
          With many game modes to choose from, including
          <br>
          a custom mode for playing alone and a competitive
          <br>
          multiplayer mode, you can play however you want!
        </h2>
        <br>
        <div class="preview" id="gameplay-information__preview">
          <div class="preview__content" id="single-player-previews">
            <div>
              <div class="preview__image">
                <img alt="Image preview of Easy Singleplayer mode of Mathematical Base Defenders." class="preview__image--singleplayer" src="/assets/images/easy-frontpage-preview.png">
              </div>
              <h2>Easy Singleplayer Mode</h2>
              A mode for casual players.
              <br>
              Easier to get in the flow of a high score
              <br>
              with slower enemy speeds and lower enemy spawn chances make it a
              <br>
              perfect mode for getting started or for younger or novice audiences.
            </div>
            <div>
              <div class="preview__image">
                <img alt="Image preview of Standard Singleplayer mode of Mathematical Base Defenders." class="preview__image--singleplayer" src="/assets/images/standard-frontpage-preview.png">
              </div>
              <h2>Standard Singleplayer Mode</h2>
              The flagship mode for competitive players.
              <br>
              A mode for competitive players with many features that make it
              <br>
              fast-paced and adrenaline-inducing, this is the perfect mode
              <br>
              for improving mental math skills and for practicing for difficult drills.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Customization Information -->
    <div id="customization-information">
      <div id="customization-information__content">
        <h1>
          <span class="material-symbols-outlined icon">
            tune
          </span>
          A zen look or a dashboard look? It's your choice!
        </h1>
        <h2>
          Do you want to see all the information while playing? Go ahead!
          <br>
          Or maybe you just wanted to have nothing distracting? That's also fine!
          <br>
          Customize the amount of information you see while in game, and more, with just a click of a button!
        </h2>
        <br>
        <div class="preview" id="customization-information__preview">
          <div class="preview__content" id="customization-previews">
            <div>
              <div class="preview__image">
                <img alt="Different mode of stat displays on how much information to show in game." class="preview__image--customization" src="/assets/images/stat-display-frontpage.png">
              </div>
              <h2>Customizable in-game stat display</h2>
              With three modes, and more to come in the future,
              <br>
              you can choose how much information you want to see
              <br>
              whether you're going for the clean look or the detailed look.
            </div>
            <div>
              <div class="preview__image">
                <img alt="Settings page of Mathematical Base Defenders." class="preview__image--customization" src="/assets/images/settings-preview.png">
              </div>
              <h2>...and many other user-interface items.</h2>
              The "settings" page allows for a degree of customization,
              <br>
              although not the most, with more to come in the future.
              <br>
              Use it to make the perfect or the flashiest look for you.
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Miscellaneous Information -->
    <div id="miscellaneous-information">
      <div id="miscellaneous-information__content">
        <h1>
          <span class="material-symbols-outlined icon">
            more_up
          </span>
          A variety of other features to spice up your gameplay!
        </h1>

        <br>
        <div id="miscellaneous-information__card-container-container">
          <div id="miscellaneous-information__card-container">
            <div id="feature-card-1" class="feature-card__container">
              <div class="feature-card">
                <div class="feature-card__front">
                  <span class="material-symbols-outlined icon">
                    manage_accounts
                  </span>
                  <h2>Account System</h2>
                </div>
                <div class="feature-card__back">
                  <p class="text-align--left">
                    Compare who is the best, and show who you are with an account!
                    <br>
                    Registering for an account allows for many features such as custom and colored usernames,
                    and chat announcements that is 100% about yourself on leaderboard scores!
                    (Registration is NOT required to play or use basic features.)
                  </p>
                </div>
              </div>
            </div>
            <div id="feature-card-2" class="feature-card__container">
              <div class="feature-card">
                <div class="feature-card__front">
                  <span class="material-symbols-outlined icon">
                    settings
                  </span>
                  <h2>Custom Mode</h2>
                </div>
                <div class="feature-card__back">
                  <p class="text-align--left">
                    Want to play on the hardest mode just to see how far you could do under pressure,
                    or want to go much more chill than Easy Singleplayer Mode? It's doable!
                    <br>
                    Or do you want a mix of both of Easy and hard? Of course!
                    <br>
                    Custom Singleplayer Mode allows for your own crazy settings!
                  </p>
                </div>
              </div>
            </div>
            <div id="feature-card-3" class="feature-card__container">
              <div class="feature-card">
                <div class="feature-card__front">
                  <span class="material-symbols-outlined icon">
                    social_leaderboard
                  </span>
                  <h2>Leaderboards</h2>
                </div>
                <div class="feature-card__back">
                  <p class="text-align--left">
                    Compare against your friends and other people to see who is the best!
                    <br>
                    Go ahead! Play for long hours to get your name on the hall of fame and
                    bragging rights!
                    <br>
                    Additionally, account decorations are also available for top scorers!
                  </p>
                </div>
              </div>
            </div>
            <div id="feature-card-4" class="feature-card__container">
              <div class="feature-card">
                <div class="feature-card__front">
                  <span class="material-symbols-outlined icon">
                    groups
                  </span>
                  <h2>Multiplayer Mode</h2>
                </div>
                <div class="feature-card__back">
                  <p class="text-align--left">
                    Do you want to play <b>real-time</b> with other players? Go ahead!
                    <br>
                    With different rules to tailor to multiplayer games, it will be so much more fun
                    when you send enemies to other players and much more shocking when you get them
                    from your opponents!
                    <br>
                    Even more adrenaline-inducing!
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="text-align--right">
            ...and more!
          </div>
        </div>
      </div>
    </div>
    <!-- Call to Action -->
    <div id="call-to-action">
      <div id="call-to-action__content">
        <div id="call-to-action__message">
          <div>
            <h1>Ready to play?</h1>
          </div>
          <div id="call-to-action__button">
            <a href="https://play.mathematicalbasedefenders.com">
              <button class="button--call-to-action button--play">
                <span>Play</span>
              </button>
            </a>
            <a class="text-align--right" href="/register">...or register for an account</a>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/jquery.ejs") %>
  <%- include("../partials/alert-index.ejs") %>
</body>

</html>