<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>

<body>
  <main>
    <nav>nav1 nav2 nav3</nav>
    <div id="header">
      <div id="header__content">
        <h1>A competitive multiplayer mental math game.</h1>
        <h2>
          Test your speed math skills by yourself in three modes
          <br>
          or with others in a fast-paced environment.
        </h2>
        <br><br>
        <button class="button--call-to-action" id="button--play">
          <span>Play</span>
        </button>
        <br>
        <a href="/register">...or register for an account</a>
        <br><br>
        <div id="header__latest-versions">
          <div class="version-indicator">
            <h3>Latest Game Version</h3>
            <div class="version-number"><%= versions.game.version %></div>
            <div>Released <%= versions.game.releaseDate %></div>
          </div>
          <div class="version-indicator">
            <h3>Latest Website Version</h3>
            <div class="version-number"><%= versions.website.version %></div>
            <div>Released <%= versions.website.releaseDate %></div>
          </div>
        </div>
        <br><br>
        <div id="preview">
          <div id="preview__content">
            <video class="preview__video" muted autoplay loop style="pointer-events: none;">
              <source src="/assets/videos/mathematicalbasedefenders.com-preview.mp4" type="video/mp4">
            </video>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div id="information">
      <div id="information__content">
        <h1>
          <span class="material-symbols-outlined icon">
            speed
          </span>
          Go easy or go big, it's your choice!
        </h1>
        <h2>With many game modes to choose from, including
          <br>
          a custom mode for playing alone and a competitive
          <br>
          multiplayer mode, you can play however you want!
        </h2>
      </div>
    </div>
  </main>
</body>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/jquery.ejs") %>
<%- include("../partials/slide-down-index.ejs") %>
</body>

</html>