<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>
  <nav></nav>
  <main>
    <div id="header">
      <div id="header-content">
        <h1>A competitive multiplayer mental math game.</h1>
        <h2>
          Test your speed math skills by yourself in three modes
          <br>
          or with others in a fast-paced environment.
        </h2>
        <button class="button--call-to-action" id="button--play">
          <span>Play</span>
        </button>
        <br>
        <a href="/register">...or register for an account</a>
      </div>
    </div>
  </main>
</body>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/jquery.ejs") %>
<%- include("../partials/slide-down-index.ejs") %>
</body>

</html>