<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders — A multiplayer mental math game.</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
</head>

<body>
  <main>
    <div id="front-page">
      <div id="front-page__header">
        <div id="front-page__logo">
          <img alt="Mathematical Base Defenders' Logo" src="./assets/images/icon.png">&nbsp;
          <span id="front-page__logo-text">Mathematical Base Defenders</span>
        </div>
        <div id="front-page__links">
          <a href="/leaderboards/standard">Leaderboards</a>
          <a href="/register">Register</a>
          <a href="https://play.mathematicalbasedefenders.com">Play</a>
        </div>
      </div>
      <div class="front-page__section" id="front-page__introduction">
        <div>
          <h1>A multiplayer mental math game.</h1>
          <p class="text--description">
            Mathematical Base Defenders is a multiplayer math game where the objective is simple: solve problems on the enemies to kill them.
          </p>
          <div id="front-page__call-to-actions">
            <form class="call-to-action-form" method="get" action="https://play.mathematicalbasedefenders.com">
              <input type="submit" class="button--play-now" value="Play Now">
              </input>
            </form>
            <form class="call-to-action-form" method="get" action="/register">
              <input type="submit" class="button--register" value="Register">
              </input>
            </form>
          </div>
          <span class="text--disclaimer">Mathematical Base Defenders is NOT a substitute for a legitimate math tutor.</span>
        </div>
      </div>
      <div class="front-page__filler"></div>
      <br>
      <div class="front-page__section" id="front-page__content">
        <div id="front-page__feature-showcase-wrapper">
          <div class="front-page__feature-showcase" id="feature-showcase-1">
            <div class="feature-tile">
              <div class="feature-icon">
                <div></div>
              </div>
              <div class="feature-tile__description">
                <h1>Multiple Game Modes</h1>
                <p>
                  Have fun with multiple game modes, whether its Easy Singleplayer for casual basic gameplay,
                  Standard Singleplayer for fast-paced exhilarating gameplay, or even Multiplayer to play with
                  friends!
                  <br><br>
                  Additionally, there is also a Custom Singleplayer mode, for when you want to fine-tune your
                  game settings, or crank everything up to the maximum for the hardest math game you'll ever play!
                </p>
              </div>
            </div>
          </div>
          <div class="front-page__feature-showcase" id="feature-showcase-2">
            <div class="feature-tile">
              <div class="feature-icon">
                <div></div>
              </div>
              <div class="feature-tile__description">
                <h1>Customizable Client</h1>
                <p>
                  Like seeing pieces of miscellaneous information while playing? That's possible! See statistics
                  like level, speed, spawn rate, and kill speed right while playing. Want your enemy colors to look
                  harmonic? Choose from a color palette! But if you don't like customization or prefer to keep things
                  minimal, the game can also let you disable some animations and stat displays.
                  <br><br>
                  More customization features coming in the future!
                </p>
              </div>
            </div>
          </div>
          <div class="front-page__feature-showcase" id="feature-showcase-3">
            <div class="feature-tile">
              <div class="feature-icon">
                <div></div>
              </div>
              <div class="feature-tile__description">
                <h1>Account System</h1>
                <p>
                  Want to save and brag your high score? Want to show off your improvement? That's all covered!
                  With an account system, you can create an account at zero cost, and then instantly sign in
                  and start playing!
                  <br><br>
                  With an account, you can be included in leaderboards, global alerts, live chatting in Multiplayer, and more!
                  <br><br>
                </p>
                <p class="text--disclaimer">
                  Although creating an account is highly recommended,
                  registration is NOT needed to play or use basic features.
                </p>
              </div>
            </div>
          </div>
          <!-- <div class="front-page__feature-showcase" id="feature-showcase-4">
            <div class="feature-tile"></div>
          </div>
          <div class="front-page__feature-showcase" id="feature-showcase-5">
            <div class="feature-tile"></div>
          </div>
          <div class="front-page__feature-showcase" id="feature-showcase-6">
            <div class="feature-tile"></div>
          </div> -->
        </div>
      </div>
    </div>
  </main>
</body>
<%- include("../partials/footer.ejs") %>
<%- include("../partials/jquery.ejs") %>
<%- include("../partials/slide-down-index.ejs") %>
</body>

</html>