<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <style>
    h1 {
      margin: 0;
      font-weight: normal;
      font-size: 48px
    }

    h2 {
      margin: 0;
      font-weight: normal;
      font-size: 24px
    }

    #license-container code {
      font-size: 12px;
    }

    #license-container h1 {
      font-size: 12px;
    }

    #license-container h2 {
      font-size: 12px;
    }

    h2.license-title {
      font-size: 24px !important;
    }
  </style>
</head>

<body>
  <%- include("../partials/top-navigation-bar.ejs") %>
  <div id="content-container">
    <!-- This is the main content -->
    <div style="width:80%;margin-left:auto;margin-right:auto;">
      <br>
      <h1>Open Source Acknowledgements</h1>
      <hr>
      <div id="license-container">
        <% for (let license in data) { %>
        <%- include("../partials/license-entry.ejs", {data: data[license],name:license}) %>
        <%- `<hr>` %>
        <%} %>
      </div>
    </div>
  </div> <!-- This is the main content -->
  <%- include("../partials/footer.ejs") %>
</body>

</html>