<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <style>
    #content-container {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    #user-information-container {
      display: grid;
      grid-template-rows: [row1-start] 160px [row1-end row2-start] 160px [row2-end row3-start] 160px [row3-end];
      grid-template-columns: [column1-start] 50% [column1-end column2-start] 50% [column2-end];
    }

    .user-information-box {
      border: 2px solid #aaaaaa;
      border-radius: 4px;
      margin: 8px;
      padding: 4px;
    }

    #user-information-box__general {
      grid-column: column1-start / column2-end;
      grid-row: row1-start / row1-end;
    }

    #user-information-box__easy {
      grid-column: column1-start / column1-end;
      grid-row: row2-start / row2-end;
    }

    #user-information-box__standard {
      grid-column: column2-start / column2-end;
      grid-row: row2-start / row2-end;
    }

    .user-information-box h1 {
      margin: 0;
      font-weight: normal;
      font-size: 48px
    }

    .user-information-box h2 {
      margin: 0;
      font-weight: normal;
      font-size: 36px
    }

    .user-information-box h3 {
      margin: 0;
      font-weight: normal;
      font-size: 20px
    }

    .large-text {
      font-size: 48px;
    }

    .medium-text {
      font-size: 20px;
    }

    .split-container {
      display: flex;
      justify-content: space-between;
    }
  </style>
</head>

<body>
  <%- include("../partials/top-navigation-bar.ejs") %>
  <div id="content-container">
    <!-- This is the main content -->
    <br>
    <div id="user-information-container" style="width:100%;">
      <div class="user-information-box" id="user-information-box__general">
        <div class="medium-text" style=<%-`color:${data.rank.color}`%>><%= data.rank.rank %></div>
        <h1><%= data.username %></h1>
        <div class="medium-text">Level <%=data.level.current%> (<%=(data.level.toNext*100).toFixed(3)%>% to next)</div>
      </div>
      <br>
      <div class="user-information-box" id="user-information-box__easy">
        <div class="split-container">
          <div>
            <div class="medium-text">Easy Singleplayer</div>
            <div class="large-text"><%=data.easyBest.score%></div>
          </div>
          <div style="text-align:right;">
            <% if (data.easyBest.score !== "N/A"){ %>
            <%- `<div class="small-text">${data.easyBest.timeInMilliseconds}ms</div>` %>
            <%- `<div class="small-text">${data.easyBest.scoreSubmissionDateAndTime}</div>` %>
            <%- `<div class="small-text">${data.easyBest.enemiesKilled}/${data.easyBest.enemiesCreated}</div>`%>
            <% } %>
          </div>
        </div>
      </div>

      <div class="user-information-box" id="user-information-box__standard">
        <div class="split-container">
          <div>
            <div class="medium-text">Standard Singleplayer</div>
            <div class="large-text"><%=data.standardBest.score%></div>
          </div>
          <div style="text-align:right;">
            <% if (data.standardBest.score !== "N/A"){ %>
            <%- `<div class="small-text">${data.standardBest.timeInMilliseconds}ms</div>` %>
            <%- `<div class="small-text">${data.standardBest.scoreSubmissionDateAndTime}</div>` %>
            <%- `<div class="small-text">${data.standardBest.enemiesKilled}/${data.standardBest.enemiesCreated}</div>`%>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div> <!-- This is the main content -->
  <%- include("../partials/footer.ejs") %>
</body>

</html>