<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/users.css" />
</head>

<body> <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <div id="user-data-box">
        <div id="user-data-box__profile">
          <img alt="Profile pictures are coming in a future update." src="/assets/images/default-avatar.png" width="128" height="128">
          <div id="user-data-box__username">
            <p id="user-data-box__rank" style=<%-`background-color:${data.rank.color}`%>><%- data.rank.rank %></p>
            <h1><%- data.username%></h1>
          </div>
        </div>
        <div id="user-data-box__statistics">
          <div class="user-data-box__gamemode">
            <div class="user-data-box__gamemode-title">
              <h2>General</h2>
              <p class="large-font">Level <%-data.level || "0"%></p>
            </div>

          </div>
          <br>
          <div class="user-data-box__gamemode">
            <div class="user-data-box__gamemode-title">
              <h2>Easy Singleplayer</h2>
              <p class="large-font"><%-data.easyBest.score %></p>
            </div>
          </div>
          <br>
          <div class="user-data-box__gamemode">
            <div class="user-data-box__gamemode-title">
              <h2>Standard Singleplayer</h2>
              <p class="large-font"><%-data.easyBest.score %></p>
            </div>
          </div>
          <br>
          <div class="user-data-box__gamemode">
            <div class="user-data-box__gamemode-title">
              <h2>Multiplayer</h2>
              <p class="large-font"><%-data.easyBest.score %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>