<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/users.css" />
</head>

<body> <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <div id="user-data-box">
        <div id="user-data-box__profile">
          <img alt="Profile pictures are coming in a future update." src="/assets/images/default-avatar.png" width="128" height="128">
          <div id="user-data-box__username">
            <p id="user-data-box__rank" style=<%-`background-color:${data.rank.color}`%>><%- data.rank.rank %></p>
            <h1><%- data.username%></h1>
          </div>
        </div>
        <br>
        <div id="user-data-box__statistics">
          <div class="user-data-box__gamemode">
            <div class="user-data-box__gamemode-title">
              <h2>General</h2>
              <p class="large-font">Level <%-data.level.current || "0"%></p>
            </div>
            <div class="user-data-box__stat">
              <span>Experience Points</span>
              <span><%- data.level.totalEXP %>EXP (<%- data.level.toNext.toFixed(3)%>% to next)</span>
            </div>
            <div class="user-data-box__stat">
              <span>Join Date</span>
              <span><%- data.creationDateAndTime %></span>
            </div>

          </div>
          <br>
          <div class="user-data-box__gamemode <%-data.easyRankClass%>">
            <div class="user-data-box__gamemode-title">
              <h2>Easy Singleplayer</h2>
              <p class="large-font"><%-data.easyBest.score || "???" %></p>
            </div>
            <div class="user-data-box__stat">
              <span>Actions Per Minute</span>
              <span><%-data.easyBest.actionsPerformed/(data.easyBest.timeInMilliseconds/60000)%>APM</span>
            </div>
            <div class="user-data-box__stat">
              <span>In Game Time</span>
              <span><%-data.easyBest.timeInMilliseconds%>ms</span>
            </div>
            <div class="user-data-box__stat">
              <span>Enemies Killed/Spawned</span>
              <span><%-data.easyBest.enemiesKilled%>/<%-data.easyBest.enemiesCreated%></span>
            </div>
            <div class="user-data-box__stat">
              <span>Submitted On</span>
              <span><%-data.easyBest.scoreSubmissionDateAndTime%></span>
            </div>
            <div class="user-data-box__stat <%-data.easyRankClass%>">
              <span></span>
              <div><%- data.easyRankText %></div>
            </div>

          </div>
          <br>
          <div class="user-data-box__gamemode">
            <div class="user-data-box__gamemode-title">
              <h2>Standard Singleplayer</h2>
              <p class="large-font"><%-data.standardBest.score || "???" %></p>
            </div>
            <div class="user-data-box__stat">
              <span>Actions Per Minute</span>
              <span><%-data.standardBest.actionsPerformed/(data.standardBest.timeInMilliseconds/60000)%>APM</span>
            </div>
            <div class="user-data-box__stat">
              <span>In Game Time</span>
              <span><%-data.standardBest.timeInMilliseconds%>ms</span>
            </div>
            <div class="user-data-box__stat">
              <span>Enemies Killed/Spawned</span>
              <span><%-data.standardBest.enemiesKilled%>/<%-data.standardBest.enemiesCreated%></span>
            </div>
            <div class="user-data-box__stat">
              <span>Submitted On</span>
              <span><%-data.standardBest.scoreSubmissionDateAndTime%></span>
            </div>
          </div>
          <br>
          <div class="user-data-box__gamemode">
            <div class="user-data-box__gamemode-title">
              <h2>Multiplayer</h2>
              <p class="large-font"><%- data.multiplayer.played === 0 || isNaN(data.multiplayer.played)  ? "0.000%" : `${(data.multiplayer.won/data.multiplayer.played*100).toFixed(3)}%` %></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>