<!DOCTYPE html>
<html lang="en">

<head>
  <title><%-data.username%> | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/users.css" />
  <style>
    #level-bar {
      --progress: <%-data.level.toNext*100%>%;
      background: linear-gradient(to right, #000000, #000000 var(--progress), #000000 var(--progress), #fafafa var(--progress), #fafafa 100%);
      background-color: #fafafa;
    }
  </style>
</head>

<body> <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1 id="username"><%-data.username%></h1>
      <div id="user-data-box">
        <div id="user-data-box__profile">
          <img id="user-data-box__profile-picture" title="Profile pictures are coming in a future update." alt="Profile pictures are coming in a future update." src="/assets/images/default-avatar.png">
          <h3 id="user-data-box__rank" style=<%-`background-color:${data.rank.color}`%>><%- data.rank.rank %></h3>
        </div>
        <div id="user-data-box__statistics">
          <!-- TODO: ??? -->
          <div class="user-statistics-box">
            <h2>General</h2>
            <p style="margin: 8px 0;" class="text--large text--wide">&nbsp; Level <%-data.level.current || "0"%> </p>
            <div class="user-statistics-box__detailed">
              <hr>
              <div class="user-statistics-box__field--detailed">
                <div>Total Experience Points</div>
                <div style="text-align: right;">
                  <%- data.level.totalEXP %>EXP
                  <br>
                  <div id="level-bar-container" class="user-statistics-box__field--extra-detailed" title="<%- (data.level.toNext*100).toFixed(3)%>% to next level">
                    <%-data.level.current || "0"%>
                    <div id="level-bar">
                    </div>
                    <%-data.level.current+1 || "1"%>
                  </div>
                </div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>Join Date</div>
                <div><%-data.joinDate%></div>
              </div>
            </div>
          </div>
          <br>
          <div class="user-statistics-box">
            <h2>Standard Singleplayer</h2>
            <% if (data.standardBest.score) { %>
            <p style="margin: 8px 0;" class="text--large text--wide">
              &nbsp;
              <%-  data.standardBest.score %>
              <% if (data.standardRank){ %>
              <%- include("../partials/top-global-rank-badge.ejs",{rank:data.standardRank}) %>
              <% } %>
            </p>
            <% } else { %>
            <p style="margin: 8px 0;" class="text--dimmed text--large">
              &nbsp;
              (never played)
            </p>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <br>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>