<!DOCTYPE html>
<html lang="en">

<head>
  <title><%=data.username%> | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/users.css" />
  <style>
    #level-bar {
      --progress: <%=data.level.toNext*100%>%;
      background: linear-gradient(to right, #000000, #000000 var(--progress), #000000 var(--progress), #fafafa var(--progress), #fafafa 100%);
      background-color: #fafafa;
    }
  </style>
</head>

<body> <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1 id="username" style=<%=`color:${data.rank.rank === "(No Rank)" ? "#000000" : data.rank.color}`%>><%-data.username%></h1>
      <div id="user-data-box">
        <div id="user-data-box__profile">
          <img id="user-data-box__profile-picture" title="Profile pictures are coming in a future update." alt="Profile pictures are coming in a future update." src="/assets/images/default-avatar.png">
          <% if (data.rank.rank !== "(No Rank)") { %>
          <h3 id="user-data-box__rank" style=<%=`background-color:${data.rank.color}`%>><%=data.rank.rank%></h3>
          <% } %>
        </div>
        <div id="user-data-box__statistics">
          <!-- TODO: ??? -->
          <div class="user-statistics-box">
            <h2>General</h2>
            <p style="margin: 8px 0;" class="text--large text--wide">&nbsp; Level <%=data.level.current.toLocaleString("en-US") || "0"%> </p>
            <div class="user-statistics-box__detailed">
              <hr>
              <div class="user-statistics-box__field--detailed">
                <div>Total Experience Points</div>
                <div style="text-align: right;">
                  <%= data.level.totalEXP.toLocaleString("en-US") %>EXP
                  <br>
                  <div id="level-bar-container" class="user-statistics-box__field--extra-detailed" title="<%= (data.level.toNext*100).toFixed(3)%>% to next level">
                    <%=(data.level.current).toLocaleString("en-US") || "0"%>
                    <div id="level-bar">
                    </div>
                    <%=(data.level.current+1).toLocaleString("en-US") || "1"%>
                  </div>
                </div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>Member For</div>
                <div><%=data.timeSinceJoinDate%></div>
              </div>
            </div>
          </div>
          <br>
          <div class="user-statistics-box">
            <h2>Standard Singleplayer</h2>
            <% if (data.standardBest.score) { %>
            <div class="user-statistics-box__score">
              <div>
                <p style="margin: 8px 0;" class="text--large text--wide">
                  &nbsp;
                  <%= data.standardBest.score.toLocaleString("en-US") %>
                </p>
              </div>
              <div>
                <% if (data.standardRank && data.standardRank !== -1){ %>
                <%- include("../partials/top-global-rank-badge.ejs",{rank:data.standardRank,badgeClass:data.standardRankClass}) %>
                <% } %>
              </div>
            </div>
            <div class="user-statistics-box__detailed">
              <hr>
              <div class="user-statistics-box__field--detailed">
                <div>Enemies Killed/Spawned</div>
                <div><%=data.standardBest.enemiesKilled.toLocaleString("en-US")%><span class="text--dimmed">/<%=data.standardBest.enemiesCreated.toLocaleString("en-US")%></span>
                </div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>Speed</div>
                <div>
                  <% if (data.standardBest.timeInMilliseconds > 0) { %>
                  <%= (data.standardBest.actionsPerformed / (data.standardBest.timeInMilliseconds / 60000)).toLocaleString("en-US",{minimumFractionDigits:3,maximumFractionDigits:3}) %>APM
                  <% } else { %>
                  N/A
                  <% } %>
                </div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>In Game Time</div>
                <div title="<%= data.standardBest.timeInMilliseconds%>ms"><%=data.formattedStandardBestTime%></div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>Time Since Submission</div>
                <div title="<%=data.standardBest.scoreSubmissionDateAndTime%>"><%=data.timeSinceStandardBest%></div>
              </div>
            </div>
            <% } else { %>
            <!-- TODO: test me -->
            <div class="user-statistics-box__score">
              <div>
                <p style="margin: 8px 0;" class="text--large text--wide">
                  &nbsp;
                  (never played)
                </p>
              </div>
            </div>
            <% } %>
          </div>
          <br>
          <div class="user-statistics-box">
            <h2>Easy Singleplayer</h2>
            <% if (data.easyBest.score) { %>
            <div class="user-statistics-box__score">
              <div>
                <p style="margin: 8px 0;" class="text--large text--wide">
                  &nbsp;
                  <%= data.easyBest.score.toLocaleString("en-US") %>
                </p>
              </div>
              <div>
                <% if (data.easyRank && data.easyRank !== -1){ %>
                <%- include("../partials/top-global-rank-badge.ejs",{rank:data.easyRank,badgeClass:data.easyRankClass}) %>
                <% } %>
              </div>
            </div>
            <div class="user-statistics-box__detailed">
              <hr>
              <div class="user-statistics-box__field--detailed">
                <div>Enemies Killed/Spawned</div>
                <div><%=data.easyBest.enemiesKilled.toLocaleString("en-US")%><span class="text--dimmed">/<%=data.easyBest.enemiesCreated.toLocaleString("en-US")%></span>
                </div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>Speed</div>
                <div>
                  <% if (data.easyBest.timeInMilliseconds > 0) { %>
                  <%= (data.easyBest.actionsPerformed / (data.easyBest.timeInMilliseconds / 60000)).toLocaleString("en-US",{minimumFractionDigits:3,maximumFractionDigits:3}) %>APM
                  <% } else { %>
                  N/A
                  <% } %>
                </div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>In Game Time</div>
                <div title="<%= data.easyBest.timeInMilliseconds%>ms"><%=data.formattedEasyBestTime%></div>
              </div>
              <div class="user-statistics-box__field--detailed">
                <div>Time Since Submission</div>
                <div title="<%=data.easyBest.scoreSubmissionDateAndTime%>"><%=data.timeSinceEasyBest%></div>
              </div>
            </div>
            <% } else { %>
            <!-- TODO: test me -->
            <div class="user-statistics-box__score">
              <div>
                <p style="margin: 8px 0;" class="text--large text--wide">
                  &nbsp;
                  (never played)
                </p>
              </div>
            </div>
            <% } %>
          </div>
          <br>
          <div class="user-statistics-box">
            <h2>Multiplayer</h2>
            <% if (!(data.multiplayer.played === 0 || isNaN(data.multiplayer.played))) { %>
            <div class="user-statistics-box__score">
              <div>
                <p style="margin: 8px 0;" class="text--large text--wide">
                  &nbsp;
                  <%-`${(data.multiplayer.won/data.multiplayer.played*100).toFixed(3)}%` %>
                </p>
              </div>
            </div>
            <div class="user-statistics-box__detailed">
              <hr>
              <div class="user-statistics-box__field--detailed">
                <div>Multiplayer Games Won/Played</div>
                <div><%=data.multiplayer.won.toLocaleString("en-US") || 0%><span class="text--dimmed">/<%=data.multiplayer.played.toLocaleString("en-US")%></span>
                </div>
              </div>
            </div>
            <% } else { %>
            <!-- TODO: test me -->
            <div class="user-statistics-box__score">
              <div>
                <p style="margin: 8px 0;" class="text--large text--wide">
                  &nbsp;
                  (never played)
                </p>
              </div>
            </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
    <br>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>