<tr class="leaderboards__record">
  <% if (record!==null){%>
  <td class="rank__number">
    #<%=rank.toString()%>
  </td>
  <td class="rank__username">
    <a style=<%=`color:${record.color===""?"#fffff":record.color}`%> href=<%=`/users/${record.username}`%>>
      <%=record?.username%>
    </a>
  </td>
  <td><%=record.statistics.scoreSubmissionDateAndTime%></td>
  <td><%=record.statistics.timeInMilliseconds%>ms</td>
  <td title="<%-record.statistics.enemiesCreated%> enemies spawned"><%=record.statistics.enemiesKilled%></td>
  <td><%=(record.statistics.actionsPerformed / record.statistics.timeInMilliseconds*60000).toFixed(3)%></td>
  <td class="rank__score"><%=record.statistics.score%></td>
  <%}else{%>
  <td class="rank__number rank--unclaimed">
    #<%=rank.toString()%>
  </td>
  <td class="rank__username rank--unclaimed">
    ???
  </td>
  <td class="rank--unclaimed">(not available)</td>
  <td class="rank--unclaimed">(not available)</td>
  <td class="rank--unclaimed">(not available)</td>
  <td class="rank--unclaimed">(not available)</td>
  <td class="rank__score rank--unclaimed">0</td>
  <%}%>
</tr>