<!DOCTYPE html>

<html>
    <head>
        <%- include('../partials/head'); %>

        <title>Leaderboards | Mathematical Base Defenders</title>

        <style>
            .link-button {
                border: none;
                background: none;
                font-family: "Computer Modern Unicode Serif";
                font-size: 24px;
            }

            table {
                border-collapse: collapse;
            }

            #leaderboards-table tr:nth-child(1) {
                background-color: #ffd700;
            }

            #leaderboards-table tr:nth-child(2) {
                background-color: #c0c0c0;
            }

            #leaderboards-table tr:nth-child(3) {
                background-color: #cd7f32;
            }

            a {
                color: black;
                text-decoration: none;
            }

            .rank-number {
                font-size: 24px;
            }

            .rank-username {
                font-size: 24px;
            }

            .rank-score {
                font-size: 24px;
            }

            .rank-game-data {
                font-size: 12px;
                white-space: nowrap;
            }
        </style>
    </head>

    <body>
        <!-- Header -->
        <%- include('../partials/header'); %>
        <!-- Content -->

        <p style="text-align: center">
            <span style="font-size: 48px"
                >Leaderboards (<%- gameMode %> Mode)</span
            >
        </p>
        <div
            style="display: flex; justify-content: center; align-items: center"
        >
            <table id="leaderboards-table" style="max-width: 80vw; width: 80vw">
                <% for (let i = 1; i <= 50; i++){ %> <% let key =
                Object.keys(leaderboardData).find(key =>
                leaderboardData[key]["rankNumber"] == i); %> <%-
                include("../partials/leaderboards/record.ejs", {record:
                leaderboardData[key], playerData: playerData}); %> <%}%>
            </table>
        </div>
        <br>
        <!-- Footer -->
        <%- include('../partials/footer'); %>
    </body>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
        async
        src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"
    ></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() {
            dataLayer.push(arguments);
        }
        gtag("js", new Date());

        gtag("config", "G-XVRB5TXW3K");
    </script>
</html>
