<!DOCTYPE html>
<html lang="en">

<head>
  <title>Change Password | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/captcha.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/change-password.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1>Change Password: Entry</h1>
      <form method="POST" action="/request-password-change">
        <h2>E-mail</h2>
        <input type="email" name="email" class="change-password__text-input">
        <p>Put the e-mail address of your account here.
          <br>If you used plus addressing when registering, use the same plus addressing here too.
        </p>
        <input type="hidden" name="csrf-token" value=<%-csrfToken%>>
        <div class="g-recaptcha" data-sitekey=<%-recaptchaSiteKey%>></div>
        <span style="color:#ff0000"><%= errorMessage ?? "" %></span>
        <br>
        <input type="submit" value="Request Password Reset" id="change-password-button">
      </form>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/jquery.ejs") %>
  <%- include("../partials/slide-down-change-password-entry.ejs") %>
</body>

</html>