<!DOCTYPE html>
<html lang="en">

<head>
  <title>Change Password | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/captcha.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/change-password.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <br>
      <h1>Change Password: Change</h1>
      <hr>
      <form method="POST">
        <h2>New Password</h2>
        <input type="password" name="new-password" class="change-password__text-input">
        <p>Put the new password you want to use for your account.
          <br>
          Passwords may only contain alphanumeric characters and symbols found in a QWERTY keyboard and must be
          8 to 48 characters long.<br>Passwords are case-sensitive.<br>Passwords may be changed on demand.
        </p>
        <h2>Confirm New Password</h2>
        <input type="password" name="confirm-new-password" class="change-password__text-input">
        <p>Put the same password as you put in the form box above this.</p>
        <input type="hidden" name="user-id" value=<%=userID%>>
        <input type="hidden" name="csrf-token" value=<%-csrfToken%>>
        <div class="g-recaptcha" data-sitekey=<%-recaptchaSiteKey%>></div>
        <span style="color:#ff0000"><%= errorMessage ?? "" %></span>
        <br>
        <input type="submit" id="change-password-button">
      </form>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
  <%- include("../partials/jquery.ejs") %>
  <%- include("../partials/slide-down-change-password-change.ejs") %>
</body>

</html>