<!DOCTYPE html>
<html lang="en">

<head>
  <title>Register | Mathematical Base Defenders</title>
  <%- include("../partials/head.ejs") %>
  <%- include("../partials/captcha.ejs") %>
  <%- include("../partials/slide-down.ejs") %>
  <link rel="stylesheet" type="text/css" href="/css/register.css" />
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main>
    <div>
      <div>
        <br>
        <h1>Register</h1>
        (To log in, go to the play subdomain and log in there.)
        <br>
        <form id="register-form" method="POST" action="/register">
          <h2>E-mail</h2>
          <input type="email" name="email" class="register-form__text-input">
          <p>Put the e-mail address that you want to use for your account here.
            <br>You may also use plus addressing if you wish.
            <br>Currently, these can not be changed. A future update will allow such functionality.
          </p>

          <h2>Username</h2>
          <input type="text" name="username" class="register-form__text-input">
          <p>Put the username that you want to use for your account here.
            <br>
            Usernames may only contain alphanumeric characters and/or underscores and must be 3 to 20 characters long.
            <br>
            Usernames are case-insensitive.
            <br>Currently, these can not be changed. A future update will allow such functionality.
          </p>
          <h2>Password</h2>
          <input type="password" name="password" class="register-form__text-input">
          <p>Put the password that you want to use for your account here.<br>
            Passwords may only contain alphanumeric characters and symbols found in a QWERTY keyboard and must be
            8 to 48 characters long.<br>Passwords are case-sensitive.<br>Passwords may be changed on demand.</p>
          <div class="g-recaptcha" data-sitekey=<%-recaptchaSiteKey%>></div>
          <br>
          By registering, you agree to the <a href="/privacy-policy">Privacy Policy</a>.
          <br>
          <span style="color:#ff0000"><%= errorMessage ?? "" %></span>
          <input type="hidden" name="csrf-token" value=<%-csrfToken%>>
          <br>
          <input type="submit" class="register-button">
        </form>
        <br>
      </div>
    </div>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>