<!DOCTYPE html>

<html>
	<head>
		<%- include('../partials/head'); %>
		<title>Mathematical Base Defenders</title>

		<link rel="stylesheet" type="text/css" href="/css/global.css" />

		<style>
			.link-button {
				border: none;
				background: none;
				font-family: "Computer Modern Unicode Serif";
				font-size: 24px;
				max-width: fit-content;
			}

			.information-box {
				display: inline-block;
				width: 100%;
			}

			.score-text {
				font-size: 48px;
			}

			.score-information-text {
				text-align: right;
			}
		</style>
	</head>

	<body>
		<!-- Header -->
		<%- include('../partials/header'); %>

		<!-- Content  -->
		<div id="content-wrapper">
			<div>
				<div>
					<div style="display: flex; justify-content: center; align-items: center">
						<div
							style="
								left: 15%;
								width: min(70%, 1200px);

								word-wrap: break-word;
								display: inline-block;
							"
						>
							<div id="user-data">
								<!-- -->

								<div class="information-box" style="width: calc(100% - 26px);display:flex;justify-content:space-between;flex-wrap:wrap;">
									<div>
									<span <%-`style=font-size:24px;color:${data.rankColor}`%> ><%-data.rank%></span>
									<br />
									<span style="font-size: 48px"> <%-data.username%> </span>
									<br>
									Level <%- data.statistics.currentLevel%> (<%- data.statistics.progressToNextLevelInPercentage %> to next)
									<div style="border-color:#aaaaaa;border-radius:5px;width:25%;height:10px;background-color:#bbbbbb">
										<div <%-`style="border-radius:5px;width:${data.statistics.progressToNextLevelInPercentage};background-color:#000000;height:10px;"`%>></div>
									</div>
									</div>
									<div style="text-align:right;">
										Joined on <%-data.creationDateAndTime%>
										<br>
										User ID: <%-data._id%>
									</div>
								</div>
								<br /><br />
								<div style="display: flex">
									<div class="information-box">
										<span style="font-size: 24px">Easy Singleplayer</span>
										<div style="display: flex; flex-wrap: wrap; justify-content: space-between">
											<div class="score-text">
												<%-data.statistics.personalBestScoreOnEasySingleplayerMode?.score || `???`%>
												<div style="font-size: 16px"><%-data.statistics?.easyModeLeaderboardRank ? (data.statistics.easyModeLeaderboardRank == 1 ? "Current World Record":`Global #${data.statistics.easyModeLeaderboardRank}`) : ""%></div>
											</div>
											<br />

											<div class="score-information-text" style="font-size: 16px">
												<%-data.statistics.personalBestScoreOnEasySingleplayerMode?.timeInMilliseconds ? `${data.statistics.personalBestScoreOnEasySingleplayerMode.timeInMilliseconds}ms` : "" %> <br />
												<%-data.statistics.personalBestScoreOnEasySingleplayerMode?.actionsPerformed ? `${(data.statistics.personalBestScoreOnEasySingleplayerMode.actionsPerformed/(data.statistics.personalBestScoreOnEasySingleplayerMode.timeInMilliseconds/60000)).toFixed(3)}APM` : "" %> <br />
												<%-data.statistics.personalBestScoreOnEasySingleplayerMode?.enemiesKilled ? `${data.statistics.personalBestScoreOnEasySingleplayerMode.enemiesKilled}/${data.statistics.personalBestScoreOnEasySingleplayerMode.enemiesCreated}` : "" %>
												<br />

												<%-data.statistics.personalBestScoreOnEasySingleplayerMode?.scoreSubmissionDateAndTime ? `${data.statistics.personalBestScoreOnEasySingleplayerMode?.scoreSubmissionDateAndTime}`:""%>
											</div>
										</div>
									</div>

									<div class="information-box" style="margin-left: 1%">
										<span style="font-size: 24px">Standard Singleplayer</span>

										<br />
										<div style="display: flex;flex-wrap: wrap;  justify-content: space-between">
											<div class="score-text">
												<%-data.statistics.personalBestScoreOnStandardSingleplayerMode?.score || `???`%>
												<div style="font-size: 16px"><%-data.statistics?.standardModeLeaderboardRank ? (data.statistics.standardModeLeaderboardRank == 1?"Current World Record":`Global #${data.statistics.standardModeLeaderboardRank}`):""%></div>
											</div>
											<div class="score-information-text" style="font-size: 16px">
												<%-data.statistics.personalBestScoreOnStandardSingleplayerMode?.timeInMilliseconds ? `${data.statistics.personalBestScoreOnStandardSingleplayerMode.timeInMilliseconds}ms` : "" %> <br />
												<%-data.statistics.personalBestScoreOnStandardSingleplayerMode?.actionsPerformed ? `${(data.statistics.personalBestScoreOnStandardSingleplayerMode.actionsPerformed/(data.statistics.personalBestScoreOnStandardSingleplayerMode.timeInMilliseconds/60000)).toFixed(3)}APM` : "" %> <br />
												<%-data.statistics.personalBestScoreOnStandardSingleplayerMode?.enemiesKilled ? `${data.statistics.personalBestScoreOnStandardSingleplayerMode.enemiesKilled}/${data.statistics.personalBestScoreOnStandardSingleplayerMode.enemiesCreated}` : "" %>
												<br />

												<%-data.statistics.personalBestScoreOnStandardSingleplayerMode?.scoreSubmissionDateAndTime ? `${data.statistics.personalBestScoreOnStandardSingleplayerMode?.scoreSubmissionDateAndTime}`:""%>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Footer -->
		<%- include('../partials/footer'); %>
	</body>
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"></script>

	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag() {
			dataLayer.push(arguments);
		}
		gtag("js", new Date());

		gtag("config", "G-XVRB5TXW3K");
	</script>
	<script>
		checkURLQueryParameters();
	</script>
</html>
