<!DOCTYPE html>

<html>

<head>
    <%- include('../partials/head'); %>
        <title>Mathematical Base Defenders</title>

        <link rel="stylesheet" type="text/css" href="/css/global.css" />

        <style>
            .link-button {
                border: none;
                background: none;
                font-family: "Computer Modern Unicode Serif";
                font-size: 24px;
            }
        </style>
</head>

<body>
    <!-- Header -->
    <%- include('../partials/header'); %>

        <!-- Content  -->
        <div id="content-wrapper">
            <div>
                <div>
                    <div style="
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        ">
                        <div style="
                                left: 15%;
                                width: 70%;
                                max-width: 1200px;
                                word-wrap: break-word;
                            ">
                            <div id="user-data">
                                <span <%=`style=font-size:32px;color:${data.rankColor};`%>
                                    ><%-data.rank%></span>
                                <span style="font-size: 32px">
                                    <%-data.username%>
                                </span><span style="font-size: 32px">'s play data</span>
                                <br />
                                <hr />
                                <span style="font-size: 28px">General</span>
                                <br />
                                <div class="information-box fit-to-content">
                                    <span style="font-size: 24px">Total Experience Points </span><br /><span
                                        style="font-size: 48px" id="total-experience-points">
                                        <%- data.statistics.totalExperiencePoints || `???` %>
                                    </span><br /><span style="font-size: 16px" id="current-level">Level <%-
                                            data.statistics.currentLevel || `???` %></span>
                                    |
                                    <span style="font-size: 16px" id="progress-to-next-level">
                                        <%- data.statistics.progressToNextLevelInPercentage || `???` %> to next level
                                    </span>
                                </div>

                                <hr />

                                <span style="font-size: 28px">Easy</span>
                                <br />
                                <div class="information-box fit-to-content">
                                    <span style="font-size: 24px">Personal Best </span><br /><span
                                        style="font-size: 48px" id="easy-mode-personal-best-score">
                                        <%-data.statistics.personalBestScoreOnEasySingleplayerMode.score || `???`%>
                                    </span><br /><span style="font-size: 16px" id="easy-mode-global-rank">
                                        <%-data.statistics.easyModeLeaderboardRank ? `Global
                                            #${data.statistics.easyModeLeaderboardRank}`:``%>
                                    </span>
                                </div>

                                <hr />

                                <span style="font-size: 28px">Standard</span>
                                <br />
                                <div class="information-box fit-to-content">
                                    <span style="font-size: 24px">Personal Best </span><br /><span
                                        style="font-size: 48px" id="standard-mode-personal-best-score">
                                        <%-data.statistics.personalBestScoreOnStandardSingleplayerMode.score || `???`%>
                                    </span><br /><span style="font-size: 16px" id="standard-mode-global-rank">
                                        <%-data.statistics.standardModeLeaderboardRank ? `Global
                                            #${data.statistics.standardModeLeaderboardRank}`:``%>
                                    </span>
                                </div>

                                <hr />

                                <span style="font-size: 28px">Metadata</span>
                                <br />
                                <div class="information-box fit-to-content">
                                    <div style="font-size: 24px">
                                        Join Date
                                        <br />
                                        <span id="player-join-date" style="font-size: 48px">
                                            <%-data.creationDateAndTime%>
                                        </span>
                                    </div>
                                </div>
                                <br><br>
                                <div class="information-box fit-to-content">
                                    <div style="font-size: 24px">
                                        User ID <br />
                                        <span id="player-join-date" style="font-size: 48px">
                                            <%-data._id%>
                                        </span>
                                    </div>
                                </div>


                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <%- include('../partials/footer'); %>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-XVRB5TXW3K"></script>

<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
        dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-XVRB5TXW3K");
</script>
<script>
    checkURLQueryParameters();
</script>

</html>